@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">All Match Today</h1>
    </div>
    <div class="row">
        <div class="col-lg-6" style="border: 1px solid pink; background-color: rgba(0, 0, 0, 0.3)">
            <div class="container-fluid">
                <a href="/Home/Details/1" style="text-decoration: none; color: black;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="team-1">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/vietnam.png" />
                                <span style="font-size: 28px; font-weight: 600;">Viet Nam</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3>VS</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="team-2">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/england.png" />
                                <span style="font-size: 28px; font-weight: 600;">England</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6" style="border: 1px solid pink; background-color: rgba(0, 0, 0, 0.3)">
            <div class="container-fluid">
                <a href="/Home/Details/2" style="text-decoration: none; color: black;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="team-1">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/argentina.png" />
                                <span style="font-size: 28px; font-weight: 600;">Argentina</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3>VS</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="team-2">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/poturgal.png" />
                                <span style="font-size: 28px; font-weight: 600;">Portugal</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6" style="border: 1px solid pink; background-color: rgba(0, 0, 0, 0.3)">
            <div class="container-fluid">
                <a href="/Home/Details/3" style="text-decoration: none; color: black;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="team-1">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/france.png" />
                                <span style="font-size: 28px; font-weight: 600;">France</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3>VS</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="team-2">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/italia.png" />
                                <span style="font-size: 28px; font-weight: 600;">Italy</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-6" style="border: 1px solid pink; background-color: rgba(0, 0, 0, 0.3)">
            <div class="container-fluid">
                <a href="/Home/Details/4" style="text-decoration: none; color: black;">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="team-1">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/argentina.png" />
                                <span style="font-size: 28px; font-weight: 600;">Argentina</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3>VS</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="team-2">
                                <img style="width: 40px; padding-bottom: 10px; margin-left: -10px;" src="img/vietnam.png" />
                                <span style="font-size: 28px; font-weight: 600;">Viet Nam</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
