@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Welcome to WorldCup app. Please cLick to <i>WorldCup</i> in the navigation bar.</h1>
    </div>
</div>
